

.intro_name{
 padding-top: 30px;
 text-align: center;
}
.intro_image{
    width:400px;
    height:300px;
    float: right;
    margin: auto;
}
body{
    background-color:#ffafcc;
}




.dubai_city{
    /* background-color: #ffcdb2; */
}

/* .dubai_img{
    width:500px;
    height:700px;
} */


p{
    padding: 1em;
}
.language{
    /* background-color: #ffcdb2; */
}
table, td, th,tr{
    border: 2px solid black;
    border-collapse: collapse;
    
}
table {
    margin: 1em;
    width: 90%;
}

.language_content{
    padding-bottom: 1em;
}
h2 {
    text-align: center;
}

.places{
    /* background-color: #ffcdb2; */
}


.places_img {
    float: right;
    margin: auto;
    height: 150px;
    width: 10em;
}
.places h2{
    text-align:center;
}

/* 
   .places_content {
    display:flex;
}  */
@media(min-width:960px){
    .dubai_content{
        display: flex;
        padding: 1em;
    }
    
}
@media(min-width:960px){
  .intro{
    display:flex;
   

  } 

}






 @media(min-width:960px) {
      .body{
        background-color: #ffcdb2;
    } 

    .places_content {
        display:flex;
    } 
    
}   

    