

.intro_name{
 padding-top: 30px;
 padding-left: 50px;
 margin-left: 150px;
 /* text-align: center; */
 font-size: 2.5rem;
 text-align:center; 
 /* text-shadow: #ffafcc; */
  position: relative;  
 top:80px;




}
.intro_image{
    width:400px;
    height:300px;
    float: right;
    margin: auto;
}
body{
    background-color:#ffafcc;
}




.dubai_city{
   padding-left: 40px;
   padding-right: 40px;
} 

p{
    padding: 1em;
}
.dubai_city h3{
    padding-left: 10px;
}


.dubai_city h2{
    padding-top: 20px;
}



.language{
  padding-left: 40px;
  padding-right: 40px;

}
table, td, th,tr{
    border: 2px solid black;
    border-collapse: collapse;
    
}
table {
    margin: 1em;
    width: 90%;
}

.language_content{
    padding-bottom: 1em;
}
h2 {
    text-align: center;
}

.places{
    /* background-color: #ffcdb2; */
    padding-left: 40px;
  padding-right: 40px;  
}
.dubai_content p{
    padding-right: 200px;
}


.places_img {
    float: right;
    margin: auto;
    height: 150px;
    width: 10em;
}
.places h2{
    text-align:center;
}

/* 
   .places_content {
    display:flex;
}  */
@media(min-width:960px){
    .dubai_content{
        display: flex;
        padding: 1em;
    }
    
}
@media(min-width:960px){
  .intro{
    display:flex;
   

  } 

}
@media(max-width:43em){
    .intro_name{
        /* padding-top: 30px;
        padding-left: 50px; */
         margin-left: 30px; 
        /* text-align: center; */
        /* font-size: 2.5rem; */
        text-align:center; 
        /* text-shadow: #ffafcc; */
         position: relative;  
        top:20px; 
       /* padding-right: 80px; */
       /* padding-left: 5px; */
       
       
       
    }
       .intro_image{
        width:300px;
        height:200px;
        /* float: right;
        margin: auto; */
    }



}





 @media(min-width:960px) {
      .body{
        background-color: #ffcdb2;
    } 

    .places_content {
        display:flex;
    } 
    
}   

    